@import "./src/main.scss";

.wybierz {
  position: relative;
  width: 100%; // Set the container width as needed
  height: 100%; // Set the container height as needed
  background-image: url("../Assets/osiedlepodklad.jpg");
  background-size: cover; // Adjust the image size as needed
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 133, 62, 0.9); // Corrected color format (rgba) with 80% opacity
    z-index: -1;
  }

  .houseplan {
    background-image: url("../Assets//OsiedlePRZYKLADDOWYMIANY.jpg");
    background-size: cover;
    width: 100%;
    height: 1200px;
    background-position: center;
    align-items: flex-end;
  }


  &_info {
    margin: 40px;
    background-color: RGBA(244, 145, 0, .5);
    color: white;
  }

  &_header {
    font-family: $font-header;
  }
}

.add {
  display: flex;
  justify-content: space-around;
}

.wybierz_container  {
  color: white;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ChoseHouse {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ChoseHouse_top {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 30px;
}

.ChoseHouse_bottom{
  display: flex;
  align-items: center;
}

$transition-duration: 0.3s;
$scale-factor: 1.1;
$background-color-hover: #ffffff; // Solid white background on hover


.house_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  position: relative;
  transition: transform $transition-duration ease, background $transition-duration ease;
  padding: 30px;
  margin:30px;
  border-radius: 10%; // Make the background circular
  background: none;
  appearance: none;
  border-width: 1px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -1px,#D6D6E7 0 -1px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;

  &:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  &:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    background-color: $background-color-hover; // Solid white background on hover

  }
  
  &:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

  svg {
    width: 64px;
    height: 64px;
    fill: currentColor;
    transition: transform $transition-duration ease;
}
}

.house_icon.green svg {
  stroke: $main-green;
  stroke-width: 2; 
  fill: #28a745; 
}

.house_icon.yellow svg {
  stroke: $main-green;
  stroke-width: 2; 
  fill: #ffc107; 
}

.house_icon.red svg {
  stroke: $main-green;
  stroke-width: 2; 
  fill: #dc3545; 
}

// Dół to zdjecie osiedla
.house_image {
  position: absolute;
  bottom: -50px;
  right: 0;
  width: 400px;
  height: auto;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5); /* Shadow for the image */
  z-index: 1;
}

.houseinfo {
  padding: 50px 0;
  &_header {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
  }
  &_box {
    display: flex;
    flex-direction: column;
  }
}
.button_spec {
  margin-top: 20px;
  align-items: center;
  background-clip: padding-box;
  background-color: $main-green;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.1em;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.button_spec:hover,
.button_spec:focus {
  background-color: $main-green2;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button_spec:hover {
  transform: translateY(-1px);
}

.green-highlight {
  position: absolute;
  width: 150px; // Adjust as necessary
  height: 100px; // Adjust as necessary
  background-color: rgba(0, 255, 0, 0.3); // Green color with 80% opacity
  z-index: 1; // Ensure it appears above the house plan image
}
.yellow-highlight {
  position: absolute;
  width: 150px; // Adjust as necessary
  height: 100px; // Adjust as necessary
  background-color: rgba(255, 217, 0, 0.3); // Green color with 80% opacity
  z-index: 1; // Ensure it appears above the house plan image
}
.red-highlight {
  position: absolute;
  width: 150px; // Adjust as necessary
  height: 100px; // Adjust as necessary
  background-color: rgba(255, 0, 0, 0.3); // Green color with 80% opacity
  z-index: 1; // Ensure it appears above the house plan image
}



