@import "./src/main.scss";
.blog {
  &_container {
  }

  &_header {
    display: flex;
    margin: 10px 0;

    &_header {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 10px 0 10px 0;
    }

    &_text {
      font-size: 1.2rem;
      font-weight: normal;
      margin-bottom: 25px;
    }

    &_photo {
      width: 60%;
      border-radius: 5%;
      margin-left: 10px;
    }
    &_select {
      width: 300px;
    }
    &_temp {
      line-height: 30px;
      list-style: circle;
      margin-left: 25px;
    }
  }
}
