@import "./src/main.scss";

.openingInwestycje_container  {
  color: white;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.add {
  display: flex;
  justify-content: space-around;
}

.ChoseOption {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ChoseOption_top {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 30px;
}

.ChoseOption_bottom{
  display: flex;
  align-items: center;
}

.ChoseOption_Text{
  font-weight: bold;
}

$transition-duration: 0.3s;
$scale-factor: 1.1;
$background-color-hover: #ffffff; // Solid white background on hover


.ChoseOption_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  position: relative;
  transition: transform $transition-duration ease, background $transition-duration ease;
  padding: 30px;
  margin:30px;
  border-radius: 10%; // Make the background circular
  background: none;
  appearance: none;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -1px,#D6D6E7 0 -1px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;

  &:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  &:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  &:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }
}

.ChoseOption_icon.green svg {
  stroke: $main-green;
  stroke-width: 15;
  fill: #28a745;
  padding: 10px;
  height: 60px; // Ensure height is set
  width: 60px; // Ensure width is set
  box-sizing: content-box; // Prevent clipping due to padding
  display: block; // Prevent inline behavior
  overflow: visible; // Ensure no part of the SVG is trimmed
  &:hover {
    fill: $main-greenyellow;
  }
}
.photobox_inwerstycje {
  background-color: $main-green3;
  padding: 40px 20px;
  margin-bottom: 30px;
  position: relative;
  width: 100%; // Set the container width as needed
  height: 100%; // Set the container height as needed
  background-image: url("../Assets/PodkladWidok.jpg");
  background-size: cover; // Adjust the image size as needed
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 133, 62, 0.9); // Corrected color format (rgba) with 80% opacity
    z-index: -1;
    border-radius: 30px;
  }
  
  &_opener {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    padding-bottom: 10px;
  
  }
  &_text {
    font-size: 1rem;
    text-align: center;
    color: #fff;
  
  }
}
.photos {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  gap: 10px; /* Optional: Add spacing between items */
  justify-content: center; /* Optional: Center items horizontally */
}

.photo_inwestycje {
  padding: 5px;
  max-width: 240px;
  height: 190px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  position: relative;
  border-radius: 10%;
  background: none;
  appearance: none;
  border-width: 1px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -1px, #D6D6E7 0 -1px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
}





