@import "./src/main.scss";

.openingInwestycje {
  position: relative;
  width: 100%; // Set the container width as needed
  height: 100%; // Set the container height as needed
  background-image: url("../Assets/osiedlepodklad.jpg");
  background-size: cover; // Adjust the image size as needed
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 133, 62, 0.9); // Corrected color format (rgba) with 80% opacity
    z-index: -1;
  }

  &_info {
    margin: 40px;
    background-color: RGBA(244, 145, 0, .5);
    color: white;
  }

  &_header {
    font-family: $font-header;
  }
}

.add {
  display: flex;
  justify-content: space-around;
}

.openingInwestycje_container  {
  color: white;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ChoseOption {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ChoseOption_top {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 30px;
}

.ChoseOption_bottom{
  display: flex;
  align-items: center;
}

.ChoseOption_Text{
  font-weight: bold;
}

$transition-duration: 0.3s;
$scale-factor: 1.1;
$background-color-hover: #ffffff; // Solid white background on hover


.ChoseOption_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  position: relative;
  transition: transform $transition-duration ease, background $transition-duration ease;
  padding: 30px;
  margin:30px;
  border-radius: 10%; // Make the background circular
  background: none;
  appearance: none;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -1px,#D6D6E7 0 -1px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;

  &:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  &:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    background-color: $background-color-hover; // Solid white background on hover

  }
  
  &:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

  svg {
    width: 64px;
    height: 64px;
    fill: currentColor;
    transition: transform $transition-duration ease;
  }
}

.ChoseOption_icon.green svg {
  stroke: $color-orange; 
  stroke-width: 15; 
  fill: #28a745; 
  margin-bottom: 10px;
  height: 50px;
  width: 50px;
}




