$color-orange: #113C2B; 
$color-darkgreen2: #0b2c1f; 
$color-darkorange: #75853E;
$color-darkoragne2: #CCFF00;
$color-redorange: #205E0D;
$color-header: #4a4a49;
$color-background: #b2b4b4;
$color-navigation: #ffffff;