@import "./src/main.scss";

.realizacje {
  background-color: $main-green3;
  padding: 90px 0;
  position: relative;
  width: 100%; // Set the container width as needed
  height: 100%; // Set the container height as needed
  background-image: url("../Assets/osiedlepodklad.jpg");
  background-size: cover; // Adjust the image size as needed
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 133, 62, 0.9); // Corrected color format (rgba) with 80% opacity
    z-index: -1;
  }
  
  &_opener {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
  
  }
}

.slide {
  &_realizacje_1 {
    background-image: url("../Assets/FOCUS1.jpg");
  }

  &_realizacje_2 {
    background-image: url("../Assets/ZLOTA1.jpg");
  }

  &_realizacje_3 {
    background-image: url("../Assets/EMILIANOWLESNY1.jpg")
  }
  &_realizacje_4 {
    background-image: url("../Assets/KOLOBRZEG1.jpg")
  }
}

