@import "./src/main.scss";
@import "./src/components/General/_colors.scss";

.carousel-container {
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: all 500ms linear;
}

.carousel-content>* {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.arrow {
  position: absolute;
  z-index: 100;
  top: 50%;
  cursor: pointer;
  opacity: 0.75;
  width: 40px;
  height: 40px;
  stroke-width: 8px;
  stroke: white;
  fill: transparent;

  &:hover {
    stroke: $color-darkoragne2;
    transition: stroke 1.5s ease;
    /* Slow fill transition */
  }
}

#leftArrow {
  left: 50px;
}

#rightArrow {
  right: 50px;
}

.right-arrow {
  right: 24px;
}

.slide {
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &_1 {
    background-image: url("../Assets/WIZ 3 kopia.jpg");
  }

  &_2 {
    background-image: url("../Assets/WIZ 1 kopia.jpg");
  }

  &_3 {
    background-image: url("../Assets/WIZ 4 kopia.jpg");
  }

  &_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    scale: 1.3;
  }

  &_text {
    background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
    padding: 20px 40px;
    border-radius: 30px; /* Rounded corners for a cloud-like shape */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    max-width: 400px;
    text-align: center;
    backdrop-filter: blur(10px); /* Optional: Apply a blur effect for a more glass-like appearance */
    font-size: 14px;
  }
}