@import "./src/main.scss";
@import "./src/components/General/_colors.scss";

.carousel-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-content > .active {
  opacity: 1;
  transform: scale(1);
  position: relative;
  z-index: 2;
}

.carousel-content > .inactive {
  z-index: 1;
}

.arrow {
  position: absolute;
  z-index: 100;
  top: 50%;
  cursor: pointer;
  opacity: 0.75;
  width: 40px;
  height: 40px;
  stroke-width: 8px;
  stroke: white;
  fill: transparent;
  background-color: $color-header;
  border-radius: 50%;

  &:hover {
    stroke: $main-greenyellow;
    transition: stroke 1.5s ease; /* Smooth hover effect */
  }
}

#leftArrow {
  left: 20px;

  @media (max-width: 1024) {
    left: 10px; /* Adjust for smaller screens */
  }
}

#rightArrow {
  right: 20px;

  @media (max-width: 768px) {
    right: 10px; /* Adjust for smaller screens */
  }
}

.slide {
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &_1 {
    background-image: url("../Assets/WIZ 3 kopia.jpg");
  }

  &_2 {
    background-image: url("../Assets/WIZ 4 kopia.jpg");
  }

  &_3 {
    background-image: url("../Assets/WIZ 1 kopia.jpg");
  }
  &_4 {
    background-image: url("../Assets/BUD23.jpg");
  }
  &_5 {
    background-image: url("../Assets/BUD25.jpg");
  }

  &_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;

    @media (max-width: 1024px) {
      margin-top: 5px;
      // width: 80px;
    }
  }

  &_text {
    background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
    padding: 20px 40px;
    border-radius: 30px; /* Rounded corners for a cloud-like shape */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    max-width: 400px;
    text-align: center;
    backdrop-filter: blur(10px); /* Optional: Apply a blur effect for a more glass-like appearance */
    font-size: 1rem;

    @media (max-width: 1024px) {
      font-size: 0.9rem; /* Adjust for tablets */
      padding: 15px 30px;
      max-width: 80vw;
    }

    @media (max-width: 768px) {
      font-size: 0.8rem; /* Adjust for phones */
      padding: 10px 20px;
      max-width: 80vw;
    }
  }
}

/* Ensure carousel resizes dynamically */
@media (max-width: 1024px) {
  .carousel-container {
    height: auto;
  }

  .carousel-content {
    flex-wrap: nowrap;
  }
}

@media (max-width: 768px) {
  .carousel-container {
    height: auto;
  }

  .carousel-content > * {
    width: 100%;
  }
}
