@import "./src/main.scss";

.opening {
  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Keep side-by-side on PC */
    padding-top: 20px;
    width: auto;

    @media (max-width: 1024px) {
      flex-direction: column; /* Stack content on mobile/tablets */
      align-items: center;
    }

  }
  &_left {
    width: 50%;
    @media (max-width: 1024px) {
      width: 80vw; /* Full-width for smaller screens */
      text-align: center; /* Center-align text */
    }
  }
  &_header {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
  }

  &_text {
    font-size: 1.1rem;
    text-align: justify;

    @media (max-width: 1024px) {
      text-align: center; /* Center-align text for smaller screens */
    }
  }
  &_right{
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin: 0 30px;
    @media (max-width: 1024px) {
      width: 100%; /* Full-width for smaller screens */
      flex-direction: column; /* Stack photos vertically */
      align-items: center;
    }
  }

  &_photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 500px;
    border-radius: 20px; /* Match border radius of the container */
    border: 10px solid $main-green2(255, 255, 255, 0.8); /* Fat border with slight transparency */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    position: absolute;
    z-index: 0;
    margin: 20px 10px;
    @media (max-width: 1024px) {
       /* Reduce photo width for smaller screens */
      height: 80vh; /* Maintain aspect ratio */
      margin-bottom: 25px; /* Center the photo horizontally */
    }
  }

  .realizacje1 {
    background-image: url("../Assets/DOMEKBASEN.jpg");
    position: relative;
    @media (max-width: 1024px) {
      display: none;
   }
  }
  .realizacje2 {
    background-image: url("../Assets/Realizacja.png");
    position: relative;
    @media (max-width: 1024px) {
      width: 80vw;
      height: 50vh;
   }
  }
  
  .button-AboutMe {
    margin-top: 30px;
    display: flex;
    @media (max-width: 1024px) {
      width: 90%; /* Button spans most of the width on smaller screens */
    }
  }
  }



  




