@import "./src/main.scss";

.photo-container {
    display: flex;
    flex-direction: column;
  }
  
  .photo-group {
    margin: 20px;
    border: 1px solid $color-darkorange;
    padding: 10px;
    border-radius: 5px;
  }

  
  .photo-group h2 {
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: $color-darkgreen2;
  }
  
  .photos {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    
  }
  
  .photo {
    max-width: 250px;
    border: 3px solid $color-darkorange;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .viewer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .selected-image {
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain;
  }
  
  .nav-btn {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 5px 10px;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  